@import "../../theme/variables";

.overlay-background {
  @include absolute-fill();
  position: fixed;
  background-color: rgba(black, 0.1);

  user-select: none;

  cursor: pointer;

  transition: opacity $transition-quick;
  opacity: 0;
  pointer-events: none;

  z-index: $overlay-layer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-large;

  overflow: auto;

  cursor: pointer;
  .overlay {
    background-color: $colour-background;
    padding: $spacing-medium;

    min-height: 300px;
    min-width: 300px;

    cursor: default;

    position: relative;

    .close-overlay {
      position: absolute;
      right: $spacing-medium;
      top: $spacing-medium;
      cursor: pointer;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  &[data-is-open="true"] {
    opacity: 1;
    pointer-events: inherit;
  }

  &[data-scroll-type="inner"] {
    overflow: hidden;
    .overlay {
      max-height: 100%;
      overflow: auto;
    }
  }
}

@include screen-phone() {
  .overlay-background {
    padding: 0;
    .overlay {
      @include absolute-fill();
    }
  }
}
