@import "../../theme/variables.scss";

a.social-link {
  display: block;
  margin-top: $spacing-medium;
  &:hover img {
    opacity: 1;
  }
  img {
    opacity: 0.7;
    transition: opacity 0.3s;
    width: 20px;
  }
}
