@import "../../../theme/variables.scss";
.hamburger-menu-wrapper {
  .hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    // right: 0;
    max-width: 400px;
    width: 100%;
    bottom: 0;
    cursor: default;

    pointer-events: none;
    opacity: 0;
    transform: translate(-100%);
    transition: opacity $transition-quick, transform $transition-quick;

    color: black;

    p {
      color: black;
    }

    > a {
      opacity: 0;
      transform: scale(0.95);
      transition: opacity 0.5s, transform 0.5s;
      margin-bottom: $spacing-medium;

      p {
        font-size: 1.4rem;
      }

      &.active {
        p {
          opacity: 0.3;
        }
      }
    }

    &[data-opened="true"] {
      opacity: 1;
      pointer-events: inherit;
      transition-delay: 0s;
      transform: none;

      > a {
        opacity: 1;
        transform: scale(1);
        @for $i from 1 to 9 {
          &:nth-of-type(#{$i}) {
            transition-delay: calc(0.1s * #{$i});
          }
        }
      }
    }
  }
}
