@import "../../../theme/variables.scss";

html {
  body {
    .content {
      transition: filter 0.3s, transform 0.3s;
      main {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        padding-top: $header-height;
        .view {
          flex: 1;
          padding: $spacing-medium;
          width: 100%;
        }
      }
      &[data-overlay-open="true"] {
        filter: blur(2px);
        transform: scale(1.01);
      }
    }
  }
}
