@import "./variables.scss";

$disabled-opacity: 0.2;

a.button-wrapper {
  &[data-loading="true"] {
    button {
      background-color: $gray-medium;
      opacity: $disabled-opacity;
    }
    pointer-events: none;
  }
  &[data-disabled="true"] {
    button {
      background-color: $gray-light;
      opacity: $disabled-opacity;
    }
    pointer-events: none;
  }
}

button {
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-appearance: none;

  @include centre-content();

  background-color: white;
  border: $line-black;
  color: black;
  font-weight: 900;
  padding: $spacing-small $spacing-medium;
  margin: 0;
  transition: background-color $transition-quick, color $transition-quick;

  &:hover {
    background-color: black;
    color: white;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
  img {
    height: 20px;
    width: 20px;
    margin-right: $spacing-small;
  }
  &[data-loading="true"] {
    background-color: $gray-medium;
    opacity: $disabled-opacity;
    pointer-events: none;
  }
  &[data-disabled="true"] {
    background-color: $gray-light;
    opacity: $disabled-opacity;
    pointer-events: none;
  }
}
