@import '../theme/imports';

.cool-text-letter {
    font-size: 7rem;
    margin: $spacing-medium;
    font-weight: 900;
    position: relative;
    color: transparent;

    .cool-text-letter-stack-item {
        @include absolute-fill;
        @include centre-content;
        user-select: none;

    }
}