@import "../../../theme/variables.scss";

$width: 20px;
$height: 14px;

$burger-color: white;
$burger-color-open: black;

.hamburger-button-wrapper {
  position: relative;
  z-index: 2;
  .hamburger-button {
    width: $width;
    height: $width;
    cursor: pointer;
    z-index: 3;
    .hamburger-button-inner,
    &::after,
    &::before {
      content: "";
      background-color: $burger-color;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: $fixed-ui-layer;
      transition: transform 0.5s, opacity 0.5s;
    }
    .hamburger-button-inner {
      top: calc(50% - 1px);
    }
    &::before {
      top: calc(50% - #{$height} / 2);
    }
    &::after {
      top: calc(50% + #{$height} / 2 - 1px);
    }
    &[data-is-open="true"] {
      &::before {
        transform: translate(0, calc(#{$height} / 2 - 1px)) rotate(135deg);
        background-color: $burger-color-open;
      }
      .hamburger-button-inner {
        transform: rotate(45deg);
        background-color: $burger-color-open;
        // opacity: 0;
      }
      &::after {
        transform: translate(0, calc(-#{$height} / 2)) rotate(-135deg);
        background-color: $burger-color-open;
      }
    }
  }
}
