@import "../../../theme/variables.scss";

header {
  position: fixed;
  width: 100vw;
  z-index: $fixed-ui-layer;
  background-color: $colour-accent;
  box-shadow: $shadow;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  user-select: none;
  p,
  h1 {
    color: white;
  }
  a {
    text-decoration: none;
    .header-logo {
      text-align: center;
      position: relative;
      p {
        letter-spacing: 1.4rem;
        font-size: 1.2rem;
        margin-right: -1.4rem;
        display: block;
      }
    }
  }
  .space{
    width: 20px;
  }
}
