@import '../../../theme/variables.scss';

html{
    body{
        main{
            width: 100vw;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            min-height: 100vh;
            padding-top: $header-height;
            .page{
                flex: 1;
                padding: $spacing-medium;
                width: 100%;
            }
        }
    }
}