@import "../../theme/variables.scss";

$backtotopcolor: white;

.back-to-top-wrapper {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.1s;
  &[data-usable="true"] {
    pointer-events: inherit;
  }
  .back-to-top {
    transform: translate(0, 35%) rotate(45deg);
    width: 15px;
    height: 15px;
    border-top: $backtotopcolor 1px solid;
  border-left: $backtotopcolor 1px solid;
  }
}
